@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
* {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("math.jpg");
}
.container {
  position: absolute;
  transform: translate(-50% -50%);
  margin: 0, auto;
  width: 256px;
  border: 10px solid #101116;
  background: #101116;
  border-radius: 5px;
  text-align: center;
}
.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(60px, auto);
}
.var {
  height: 75px;
  width: 249px;
  background-color: #10111600;
  margin: 0;
  justify-content: center;
  color: #fff;
  text-align: right;
  font-size: 25px;
  font-family: 700;
  letter-spacing: 1px;
}
#clear {
  grid-column: 1/3;
  grid-row: 1;
  color: #262834;
}
#result {
  grid-column: 3/5;
  grid-row: 5;
}
#cancel {
  color: #262834;
}
button {
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #262834;
  color: #fff;
}
input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}
.highlight {
  background: #56cbdb;
}
